$contrain-small: 28rem;
$contrain-medium: 36rem;
$contrain-large: 46rem;

html {
    scroll-behavior: smooth;
}
// Main Containers
#page-wrapper {
    padding: 0;
}

#wrapper-footer {
    background-color: $gray-900;
    color: #fff;
    text-align: center;
}

// Header 
.bg-primary {
    background: transparent !important;
}

// Text colour on dark
.site {
    color: $body-color;
}
.site a:not(.wp-block-button__link) {
    color: $body-color;
}

// Navbar
.navbar {
    li {
        text-align: center;
        font-size: 1.3rem;
    }
    &.navbar-dark {
        .navbar-toggler {
            border-color: #fff;
            border-width: 2px;
        }
        .nav-link {
            color: #fff;
            &:focus,
            &:hover {
                color: $secondary;
            }
        }
        .active > .nav-link, 
        .nav-link.active {
            color: $secondary;
            font-weight: bold;
            text-decoration: underline;
            text-decoration-thickness: 2px;
        }
    }
}

// Helper classes
[class*="constrain-"] {
    margin-left: auto;
    margin-right: auto;
}
.constrain {
    &-small {
        max-width: $contrain-small;
        &.wp-block-separator {
            .wp-block-columns & {
                max-width: $contrain-small / 2;
            }
        }
    }
    &-medium {
        max-width: $contrain-medium;
        &.wp-block-separator {
            .wp-block-columns & {
                max-width: $contrain-medium / 2;
            }
        }
    }
    &-large {
        max-width: $contrain-large;
        &.wp-block-separator {
            .wp-block-columns & {
                max-width: $contrain-large / 2;
            }
        }
    }
}

.with-spacing {
    padding: 1rem;
    // margin-top: 64px;
    // margin-bottom: 64px;
    @include media-breakpoint-down(sm) {
        padding: 3rem 1rem;
    }
}
.without-spacing {
    margin: 0;
    padding: 0;
}

.with-full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

// Buttons Component
.wp-block-button .wp-block-button__link {
    background-color: #fff;
    color: $body-bg;
}
@include media-breakpoint-down(md) {
    .wp-block-buttons{
        margin:32px 0 16px;
    }
}
// Block Cover Component
.wp-block-cover {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    box-shadow: inset 0px 4px 8px rgba(#000, 0.35), inset 0px -4px 8px rgba(#000, 0.35);
    border-top: solid #e7cf01 5px;
    border-bottom: solid #e7cf01 5px;

    &.has-background-dim:before {
        .site & {
            opacity: 0.65;
        }
    }
    .home & {
        min-height: 50vh;
    }
  
    @include media-breakpoint-down(md) {
        // Smaller than md: 768px
        .wp-block-cover__inner-container{
            margin: 56px 0;
        }
        
    }
    
}

// Gallery Component
.blocks-gallery-grid {
    margin-top: 1px;
    .blocks-gallery-image,
    .blocks-gallery-item {
        .site & {
            margin-right: 1px;
            margin-bottom: 1px;
        }
    }
}

// Content Block Component
.content-block {
    background: $light;
    color: $black;
    margin-left: -15px;
    margin-right: -15px;
    .wp-block-columns {
        margin: 0;
    }
    .wp-block-image {
        margin: -2rem;
        width: calc(100% + 4rem);
        max-width: calc(100% + 4rem);
        img {
            margin: 0;
        }
    }
    .wp-block-column {
        padding: 2rem;
    }
    .wp-block-column:not(:first-child) {
        margin-left: 0;
    }
    @include media-breakpoint-down(sm) {
        .reverse-mobile {
            flex-direction: column-reverse;
        }
    }

}

// Separator Component
.wp-block-separator {
    max-width: $contrain-small;
    margin: 2em auto;
    .wp-block-cover & {
        border-color: transparent;
    }
    @include media-breakpoint-down(md) {
        .wp-block-separator{
            margin: 1em auto;
        }
    }
}

// Tables 
.wp-block-table table {
    color: inherit;
    font-size: $font-size-base;
    border: 0;
    td, th {
        border: 0;
        border-bottom: 1px solid rgba(#fff, 50%);
    }
}

// iFrames
iframe {
    width: 100%;
}



// Post design
.entry-footer .edit-link {
	display: none;
}

// Work In Progress


// Footer
footer.with-full-width {
    background: $light;
    // background: linear-gradient(rgba(#e7cf01, 95%) 0, rgba(#ffea2a, 65%) 100%);
    color: $black;
    a:not(.wp-block-button__link) {
        color: $black;
    }
    .wp-block-table table {
		color: inherit;
        td, th {
            border-color: rgba(#000, 50%);
        }
    }
}

.btn-primary {
    color: $dark;
    background-color: $secondary;
    border-color: $secondary;
  }
  .btn-primary:hover, .btn-primary:focus, .btn-primary.focus {
    color: $dark;
    background-color: lighten($secondary, 6%);
    border-color: lighten($secondary, 6%);
  }

  .btn-primary.disabled, .btn-primary:disabled {
    color: $primary;
    background-color: lighten($secondary, 50%);
    border-color: lighten($secondary, 50%);
  }
  .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: $primary;
    background-color: lighten($secondary, 50%);
    border-color: lighten($secondary, 50%);
  }